{% extends 'base.html' %} 
{% load static %} 

{% block title %}Home{% endblock %}

{% block header_menu %}
    <li><a href="">About</a></li>
    <li><a href="{% url 'home:signup' %}">Signup</a></li>
    <li><a href="{% url 'home:login' %}">Login</a></li>
{% endblock %}

{% block content %}

<section class="home-content">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>

{% endblock content %}



{% block script %} 
{% endblock script %}

{% block footer %}
{% endblock %}
